@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,900;1,500&family=Roboto:wght@100;300;400;700;900&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    }

    body {
        background: linear-gradient(180deg, #80DFED 0%, #092E3D 0.01%, #006C7A 63.54%);
        background-size: cover;
        height: 100vh;
        width: 100%;
      
        display: flex;
        flex-direction: column;
      
        
        margin: 0;
        /*overflow: hidden; /* Evita el scroll */
      }

      /* Clase para desenfoque */
    .blur {
    filter: blur(8px); /* Ajusta la cantidad de desenfoque */
    transition: filter 0.3s ease-in-out; /* Añade una transición suave */
    }

    /* Ajuste para navbar cuando está activo */
    #navbar.active + .blur {
    filter: none; /* Elimina el desenfoque cuando el navbar está activo */
    }

/* Otras reglas del navbar y de contenido */
#navbar {
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: rgba(18, 37, 50, 0.4);
    transition: right 0.3s ease-in-out;
}

#navbar.active {
    right: 0;
}

    

      header{
        margin-top: 25px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        
      }

      header .icono{
        margin: auto;
      }
      header .texto{
        margin-left: 10px;
        flex:1; 
      }
      header .texto h1{
        
        color: #FFF;
        text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.48px;
      }
      header .texto p{
        color: #FFF;
        text-shadow: 0px -1px 4px rgba(0, 0, 0, 0.30);
        font-family: Roboto;
        font-size: 28px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 1.12px;
      }
      header .icono{
        width: 47px;
        height: 47px;

        margin: 5px;
      }


      #navbar {
        position: fixed;
        top: 0;
        right: -250px; /* Empieza fuera de la vista a la derecha */
        width: 250px;
        height: 100vh;
        background-color: rgba(18, 37, 50, 0.4);
        transition: right 0.3s ease; /* Añade una transición suave */
        z-index: 1000;
    }
    
    #navbar.active {
        right: 0; /* Cuando está activo, se desliza a la derecha de la pantalla */
    }
    
    #navbar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    #navbar ul li {
        padding: 15px;
        text-align: center;
    }
    
    #navbar ul li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        display: block;
    }
    

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 18px;
}

.navbar ul li a:hover {
    background-color: rgba(34, 87, 122, 0.7);
    border-radius: 5px;
}

/* Estilo del botón (casillerito) */
.casillerito {
    position: relative;
    z-index: 10;
    cursor: pointer;
}


    .cuerpo{
        position: relative;
        flex-direction: column;
        
    }

    .cuerpo .medidorANALOG{
        position:relative;
        display: flex;
        width: 100%;
        height: auto;
       
        flex-wrap: wrap;
        justify-content: center;
    }
    .cuerpo .medidorANALOG .medidor{
        width: 296px;
        height: 160px;
        
        background-image: url(img/escala.png);
        background-repeat: no-repeat;
    
    }

    .medidor {
        position: relative;
        width: 200px;  /* Ajusta según tus necesidades */
        height: 200px; /* Ajusta según tus necesidades */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .medidor img {
        transform-origin: 100% bottom ; /* Centro de rotación en la parte inferior */
        transform: rotate(180deg); /* Aguja apuntando al mínimo valor */
        transition: transform 2s ease-out; /* Suavizar la rotación */
        position: absolute;
        bottom: 0;
        left: 4%;
        
    }
    


    .cuerpo .medidorANALOG .numeros{
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        
        justify-content: center;
        text-align: center;
        align-items: center;
        color: black;

    }
    .cuerpo .medidorANALOG .numeros p{
        color: #FFF;
        

    }
    .cuerpo .medidorANALOG .cafesito{
        display: flex;
        justify-content: center;
        width: 100%;
        height:50px;
    }

    .numeros .arriba{
        display: flex;
        justify-content: center;
        font-family: Montserrat;
        padding: 7px;

        
    }
    .numeros .arriba .iconito{
        width: 15px;
        height: 15px;
        margin: 2px;

    }

  
    .sensado{
        color: #FFF;
        overflow: hidden;
        color: #FFF;
        text-align: center;
        font-variant-numeric: lining-nums proportional-nums;
        text-overflow: ellipsis;
      
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Montserrat;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 170.4%; /* 42.6px */
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .cafesito {
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: auto;
        padding: 20px;
        margin: 10px;
        

    }

    .cafesito .historial{
        display: flex;
        color: white;
        align-items: center;

    }

    .cafesito .historial .reloj-ico {
        order: 3;
        margin-right: 10px;
        margin-left: 10px;
    }

    .cafesito .cafe{
        display: flex;
        align-items: center;
        color: #FFF;
    }
    .cafesito .cafe .cafe-ico{    
        order: 0;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .texto1{
        width: 130px;
        color: #38A3A5;
        text-align: right;
        font-family: Roboto;
        font-size: 16px;
        font-style: bold;
        font-weight: 600;
        line-height: 123.688%; /* 16.079px */
        letter-spacing: 0.52px;
        padding: 2px;
    }

    .texto2{
        width: 130px;
        color: #FFF;
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 123.688%;
        letter-spacing: 0.52px;
    }

    .texto1c{
        width: 130px;
        color: #38A3A5;
        font-family: Roboto;
        font-size: 16px;
        font-style: bold;
        font-weight: 600;
        line-height: 123.688%; /* 16.079px */
        letter-spacing: 0.52px;
    }
    
    .texto2c{
        width: 130px;
        font-family: Roboto;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 123.688%;
        letter-spacing: 0.52px;
    }

    .cuerpo .medirAHORA{
        display: flex;
        width: 229px;
        height: auto;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        
    }
    .cuerpo .medirAHORA button{
        width: 217px;
        height: 63px;
        flex-shrink: 0;
        margin: 10px;
        
        color: #FFF;
        border: none;
        border-radius: 64px;
        background: linear-gradient(179deg, #38A3A5 0%, #22577A 100%);

        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.72px;
        text-transform: uppercase;
    }

    
    .cuerpo .tarjetero {
        width: 100vw; /* Asegura que ocupe todo el ancho de la pantalla */
        margin: 0; /* Elimina cualquier margen */
        padding: 0; /* Opcional: Añade un poco de padding interno si lo necesitas */
        height: auto;
        display: flex;
        justify-content: flex-start; /* Alinea las tarjetas al inicio */
        color: #FFF;
        text-align: center;
        overflow-x: scroll; /* Permite el scroll horizontal */
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch; /* Habilita desplazamiento suave en dispositivos táctiles */
    }
    
    .cuerpo .tarjetero::-webkit-scrollbar {
        display: none; /* Oculta la barra de desplazamiento en navegadores WebKit (Chrome, Safari, etc.) */
    }
    
    .tarjetero .tarjeta1, 
    .tarjetero .tarjeta2, 
    .tarjetero .tarjeta3 {
        display: flex;
        width: 162px;
        height: 63px;
        margin: 5px;
        border-radius: 22px;
        background-color: rgba(14, 53, 79, 0.5);
        align-items: center;
        flex-shrink: 0;
        scroll-snap-align: start;
    }
    
    /* Resto de las clases para las tarjetas y los colores */
    .tarjeta1 .verde, 
    .tarjeta2 .amarillo, 
    .tarjeta3 .rojo {
        width: 40px;
        height: 40px;
        margin: 10px;
        border-radius: 10px;
    }
    
    .tarjeta1 .verde {
        background: #41CD8C;
    }
    
    .tarjeta2 .amarillo {
        background: #FFB433;
    }
    
    .tarjeta3 .rojo {
        background: #FF5858;
    }
    
    .tarjetero .tarjeta1 p,
    .tarjetero .tarjeta2 p,
    .tarjetero .tarjeta3 p {
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.64px;
        text-transform: uppercase;
    }

    .otras-medidas {
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
        height: auto; /* Ajusta la altura automáticamente para incluir el divider */
        display: flex;
        flex-direction: column;
        align-items: last baseline;
    }
    
    .caja-fondo {
        width: 100%;
        padding: 20px;
        border-radius: 22px;
        background-color: rgba(18, 37, 50, 0.6);
        display: flex;
        flex-direction: column;
        overflow: visible; /* Asegura que el contenido no esté oculto */
    }
    
    .caja-fondo .temperatura,
    .caja-fondo .humedad {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    
    .temperatura .icono1,
    .humedad .icono2 {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .icono1 {
        background-image: url(img/termometro.png);
        width: 28px;
        height: 48px;
    }
    
    .icono2 {
        background-image: url(img/gota.png);
        width: 25px;
        height: 40px;
    }
    
    .tex {
        color: white;
        font-weight: bold;
        font-size: 25px;
        margin-left: 40px;
    }
    
    .temp,
    .grado,
    .hum,
    .porcentaje {
        color: white;
        font-size: 50px;
        font-weight:300;
    }

    .grado,
    .porcentaje{
        font-size: 40px !important;
    }
    
    .temp,
    .hum {
        margin-left: 50px;
    }
    
    .divider {
        width: 100%;
        height: 2px;
        background-color: #888888;
        margin: 10px 0; /* Espacio arriba y abajo del divider */
        position: relative; /* Asegúrate de que el divider tenga un posicionamiento relativo */
    }
    
    
    
    


    footer{
    display: flex;
    width: 100%;
    height: 95px;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 10px 22px;
    border-radius: 22px 22px 0px 0px;
    background: #FFF;
    justify-content: space-around;
    }

    button {
        background: none; /* Elimina el fondo del botón */
        border: none; /* Elimina el borde del botón */
        padding: 0; /* Elimina el padding predeterminado del botón */
        cursor: pointer; /* Cambia el cursor para indicar que es un botón */
        transition: transform 0.2s ease-in-out; /* Añade una transición suave al agrandamiento */
    }
    
    button:hover,
    button:focus {
        transform: scale(1.1); /* Agranda el botón al 110% cuando se pasa el ratón o se hace foco */
    }
    
    button:active {
        transform: scale(1); /* Restaura el tamaño original al hacer clic */
    }
    

      