@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,900;1,500&family=Roboto:wght@100;300;400;700;900&display=swap');

.swiper-slide:hover {
    background-color: #1e1e1e;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.fondo {
    background: linear-gradient(180deg, #80DFED 0%, #092E3D 0.01%, #006C7A 63.54%);
    background-size: cover;
    height: 100vh;
    color: white;
}

html, body {
    position: relative;
    height: 100%;
    margin: 0;
    overflow: hidden; /* Evita el scroll */
}




body {
    background-color: #323232;
    font-size: auto;
    color: black;
    margin: 0;
    padding: 0;
}

.texto h2 {
    font-weight: bolder;
    font-size: 50px;
  }
  
  .texto {
    padding: 50px 20px 0px 20px;
  }

  .texto p {
    padding-top: 5px;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 30px;
  }
.swiper-wrapper {
    display: flex;
}

.swiper {
    width: 100%;
    display: flex;
}

.swiper-slide {
    width: 300px;
    height: 550px;
    background: linear-gradient(0deg,  #2C9294 0%,#38A3A5  100%);
    padding: 30px;
    text-align: left;
    border-radius: 45px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que el contenido esté espaciado y la imagen esté abajo */
}

.product-content {
    flex-direction: column;
}

h3 {
    font-size: 30px;
    padding-bottom: 15px;
}

.swiper-slide .product-txt h3 {
    padding-bottom: 20px;
    font-weight: bolder;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
}

.product-txt p {
    font-size: 14px;
    color: #c4c4c4;
}

/* Asegura que la imagen esté centrada y en la parte inferior */
.product-img {
    text-align: center;
    align-self: center;
}

.product-img img {
    width: 70%;
    margin-top: auto; /* Empuja la imagen hacia la parte inferior */
}


.swiper-pagination-bullet{
    color: white;
    background-color: white;
    width: 12px;
    height: 12px;
}

.inferior{
    width: 100%;
    height: 100hv;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Añade un poco de espacio interior */

}
.btn-comenzar {
    background-color: transparent;
   
    border: 4px solid #38A3A5;
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    color:#fff;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn-comenzar:hover {
    background-color: white;
    color: #38A3A5;
}